@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgbody: #f4f5f7;
  --clbody: rgb(3, 18, 37);
  --bgsidebar: #fff;
  --bgcard: #fff;
  --bgcardhead: #f1f1f1;
  --sidebarline: #a2a2a2;
  --cardtext: rgb(3, 18, 37);
  --buttonsidbar: #f7fafc;
  --layoutline: #d3dcffff;
}

* {
  transition: background 0.4s;
}

.dark {
  --bgbody: rgb(3, 18, 37);
  --bgsidebar: #111827ff;
  --clbody: white;
  --bgcard: #020e1de2;
  --bgcardhead: #010812ff;
  --sidebarline: #212121;
  --cardtext: rgb(168, 168, 168);
  --buttonsidbar: #6b7280;
  --layoutline: #1f67677c;
}

body {
  background-color: var(--bgbody);
  color: var(--clbody);
}
:where(.css-dev-only-do-not-override-2rgkd4).ant-switch {
  background-color: rgba(86, 86, 86, 0.45);
}
:where(.css-dev-only-do-not-override-2rgkd4).ant-switch.ant-switch-checked {
  background-color: rgb(3, 18, 37);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #c1c1c1 0%, #0d1c39 100%);
}
